html,
body {
  overflow-x: hidden;
}

a {
  color: $primary-color;
}

.section {
  &-title {
    text-align: center;
    margin-bottom: 50px;
    @include mobile {
      margin-bottom: 0;
    }

    h2 {
      font-size: 45px;
      @include tablet {
        font-size: 35px;
        line-height: 44px;
      }
      @include mobile {
        font-size: 30px;
      }
    }
  }
}

.ml-25 {
  margin-left: 25px;

  @include desktop {
    margin-left: 0px;
  }
}

.mr-25 {
  margin-right: 25px;

  @include desktop {
    margin-right: 0px;
  }
}

.form-control {
  min-height: 52px;
  margin-bottom: 30px;
  padding: 15px 20px;
  font-size: 15px;
  background: rgba($color: $border-color, $alpha: 0.5);
  border-radius: 4px;
  border-color: transparent;
  transition: 0.3s ease;
  &:focus {
    box-shadow: none;
    border-color: $primary-color;
    box-shadow: 0px 5px 25px rgba(25, 24, 29, 0.06);
  }
}

.page {
  &-header {
    //padding: 130px 0 200px;
    background-color: $white;
    text-align: center;
    // margin: 130px 100px 0;
    background: #f9f2ea;
    // border-radius: 50px;
    @include desktop-xl {
      margin: 130px 50px 0;
    }
    @include desktop {
      margin: 130px 30px 0;
      border-radius: 25px;
      padding: 80px 0 180px;
    }
    @include mobile {
      margin: 100px 15px 0;
      padding: 50px 0 120px;
    }
    h1 {
      @include desktop {
        font-size: 40px;
      }
      margin-bottom: 20px;
    }
    h2 {
      font-size: 40px;
      line-height: 52px;
      @include mobile {
        font-size: 30px;
        line-height: 42px;
      }
    }
  }
  &-content {
    padding: 10px 50px 30px;
    &-wrapper {
      padding: 40px 50px;
      background-color: white;
      border-radius: 10px;
      margin-top: -150px;
      box-shadow: 0px 5px 25px rgba(25, 24, 29, 0.06);
    }
  }
}

.box {
  width: 60%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button-2 {
  color: #fff !important;
  background-color: #DA2E8A;
  font-weight: 500;
  font-size: 16px;
  font-family: grandview;
  text-transform: uppercase;
  padding: 18px 40px;
  margin: 46px 0;
  border:none;
}

.button-3 {
  color: #fff !important;
  border:1px solid  #C4C4C4;
  background-color:#EEEEEE;
  font-weight: 500;
  font-size: 16px;
  font-family: grandview;
  text-transform: uppercase;
  padding: 18px 40px;
  margin: 46px 0;
}

.button {
  color: #fff !important;
  background-color: #623a96;
  font-weight: 500;
  font-size: 16px;
  font-family: grandview;
  text-transform: uppercase;
  width: 50%;
  padding: 20px;
  margin: 46px 0;
}
.button a {
  color: #fff !important;
  text-align: center;
}
.button-2 a {
  color: #fff !important;
  text-align: center;
  text-decoration:none;
  vertical-align: middle;
  padding-top:3px;
}
.button-3 a {
  color: #000 !important;
  text-align: center;
  text-decoration:none;
  vertical-align: middle;
  padding-top:3px;
}
.button:hover {
  background: #da2e8a;
}

.button-2:hover {
  background: #623a96;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 50ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
 //transition: all 5s ease-in-out;
}

.popup h1 {
  margin-top: 0;
  color: #233059;
  text-align: centlefter;
}

.popup hr {
  border-top: 5px solid #D5D6DD;
  // margin:1% 1%;
}

.popup h2 {
  margin-top: 0;
  color: #233059;
  text-align: left;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 50ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #da2e8a;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.quiz-btns {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}

.popup p {
  font-weight:300;
  padding:3% 0%
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

input[type="radio"] {
  filter: grayscale(100%) contrast(200%);
}

// Drop Down Menu
.dropdown {
  // background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    color: #fff;
    // background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  li a {
    color: #fff;
  }

  li:hover,
  li:focus-within {
    // background: red;
    cursor: pointer;
  }

  li:focus-within a {
    outline: none;
  }
}

ul li ul {
  background: #fff;
  visibility: hidden;
  opacity: 0;
  min-width: 13rem;
  position: absolute !important;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 1rem;
  display: none;
  padding: 0;
}

.pink:hover {
  background: #da2e8a;
}
.blue:hover {
  background: #01aae8;
}
.purple:hover {
  background: #622f89;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.dropdown li a {
  color: #273437;
}
.dropdown li:hover a {
  color: #fff;
  text-decoration: none;
}
.services-info li {
  color: #8c8c94;
}

dl {
  color: #fff;
}

.black-dd {
  color: #622f89 !important;
}

.quiz-radio li {
  border: 1px solid #e6e6e6;
  padding: 15px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

#client-info h3 {
  text-align: left;
  font-weight:800;
  font-size:25px;
}

#client-info h4 {
  text-align: left;
  font-weight:400;
}

#header-image {
  background-image: url("../../header.png");
  width: 600px;
  height: 100px;
}
