.accreds {
    background-image: url("http://localhost/static/images/vector.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /* position: absolute; */
    /* top: 112px; */
    margin-top: -30px;
}