.accreds {
    background: url("/vector.png"); /* The image used */
    background-color:#EEEEEE;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width:100%;
    position:relative;
}

.accreditations {
    position:absolute;
    top:20%;
    left:15%;
    height:600px;
}

.certifications {
    margin-top: -148px;
}