{{ define "main" }} {{ partial "banner_none.html" . }} {{ partial
"contact-info.html" . }} {{ "<!--contactHeader.html-->" | safeHTML }}
<section class="page-header">
  <div class="row">
    <div id="googlemap"></div>
  </div>
</section>

{{ "<!--contactForm.html-->" | safeHTML }}
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form
          id="contact_page"
          action="#"
          method="POST"
          class="contact-form row"
        >
          <div
            class="col-lg-12 mx-auto text-center"
            style="padding-bottom: 50px"
          >
            <h2>Send us a message</h2>
          </div>
          
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              placeholder="Full Name"
              name="Name"
              id="coname"
              required
            />
          </div>
          <div class="col-lg-6">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              name="email"
              id="coemail"
              required
            />
          </div>
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              placeholder="Work phone number"
              name="work-phone"
              id="cophone"
              required
            />
          </div>
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              placeholder="Business Name"
              name="business"
              id="cobusiness"
              required
            />
          </div>
          <div class="col-12">
            <input
              type="text"
              class="form-control"
              placeholder="Business Website"
              name="website"
              id="cowebsite"
            />
          </div>
          <div class="col-12">
            <textarea
              class="form-control"
              placeholder="Message"
              required
              cols="30"
              rows="7"
              name="message"
              id="comessage"
            ></textarea>
          </div>
          <div class="col-3"></div>
          <div class="col-6 justify-content-center">
            <button
              id="contact-form-button"
              class="btn btn-primary-filled"
              type="submit"
            >
              Submit
            </button>
          </div>
          
          <div class="col-3"></div>
          <div class="col-12">
            <div id="thank-you-2" style="display:none;padding:3% 0;color:green;font-size:18px;padding-top:20px;">
              Thank you for contacting us, we will be in touch shortly. <br>
            </div>
            <p id="contact-form-status" class="mt-3"></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}
