{{ define "main" }}

{{ partial "banner.html" . }}
<div class="container">
  <section class="service" id="compliance">
      <div class="container">
        <div class="row justify-content-center services">
          <div class="">
          <button class="btn-sm btn-service" type="submit">
            <span class="btn-area">
              Our Services
            </span>
          </button>
          </div>
      </div>
      <div class="row justify-content-center" >
        <div class="col-lg-12">
          <div class="section-title">
            <h2>
              Compliance
            </h2>
          </div>
          <div class="service-description">
            Who comes to us? Small business bosses. HR and admin managers. Non-IT trained compliance personnel and government agencies. Ambitious vendors with big dreams.
          </div>
        </div>
        </div>
  </section>
  <div class="row justify-content-center services">
      <div class="col-lg-12">
        <div class="box-3">
              {{ $p := .Pages }}
              {{ $p = where $p "Params.cat" "intersect" (slice "Compliance") }}
              {{ range $p  }}
              {{ partial "our-services.html" . }}
              {{ end }}
          </div>
      </div>
  </div>

  <section class="service" id="standards">
      <div class="container">
        <div class="row justify-content-center services">
          <div class="">
          <button class="btn-sm btn-service-pink" type="submit">
            <span class="btn-area">
              Our Services
            </span>
          </button>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>
              Standards
            </h2>
          </div>
          <div class="service-description">
            Your business is doing well. Want to step up to the next level for information security and data protection? 
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row justify-content-center services">
      <div class="col-lg-12">
        <div class="box-2">
              {{ $p := .Pages }}
              {{ $p = where $p "Params.cat" "intersect" (slice "Standards") }}
              {{ range $p  }}
              {{ partial "our-services.html" . }}
              {{ end }}
          </div>
      </div>
  </div>

  <section class="service" id="services">
      <div class="container">
        <div class="row justify-content-center services">
          <div class="">
          <button class="btn-sm btn-service-blue" type="submit">
            <span class="btn-area">
              Our Services
            </span>
          </button>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>
              Managed Services
            </h2>
          </div>
          <div class="service-description">
            Protect your business from evolving security threats. Don’t risk losing your reputation, clients, and revenue to preventable cybercrime. 

          </div>
        </div>
        </div>
      </div>
  </section>
  <div class="row justify-content-center services">
      <div class="col-lg-12">
        <div class="box-3">
              {{ $p := .Pages }}
              {{ $p = where $p "Params.cat" "intersect" (slice "Services") }}
              {{ range $p  }}
              {{ partial "our-services.html" . }}
              {{ end }}
          </div>
      </div>
  </div>


</div>

{{ partial "why-cyberaas.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "call-to-action.html" . }}

{{ end }}