<section class="about" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-1 order-lg-1">
        <img src="../images/about/justin.png" />
      </div>
      <div class="col-lg-6 order-1 order-lg-1 about-info">
        <h4>About Company</h4>
        <h2>Meet Justin</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget
          gravida tellus. Proin in quam eu enim blandit fermentum finibus nec
          massa. Quisque vehicula mi nec neque consectetur, ut interdum massa
          auctor.
        </p>
        <div style="padding-top: 50px">
          <a
            id="service-form-button"
            class="btn btn-primary-fill"
            href="/contact"
          >
            Contact Justin
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="padding-top: 50px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-10 col-sm-2 accred">
        <img src="../images/accreditations/ccsp.png" />

        <img src="../images/accreditations/ccna.png" />

        <img src="../images/accreditations/iso.png" />

        <img src="../images/accreditations/cisa.png" />

        <img src="../images/accreditations/crisc.png" />

        <img src="../images/accreditations/gcih.png" />
      </div>
    </div>
  </div>
</section>
