<div class="a-container">
  <div class="accordion">
    <dl>
      <dt>
        <a class="accordionTitle" href="#">Capable</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          We are passionate, qualified, skilled, and experienced in what we do.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Young at heart</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          We derive a lot of satisfaction from helping our clients achieve their
          compliance and business performance goals with as little pain as
          possible. We had a bit of fun creating an acrostic of our values to
          spell out what we stand for:
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Beneficial</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu
          interdum diam. Donec interdum porttitor risus non bibendum. Maecenas
          sollicitudin eros in quam imperdiet placerat. Cras justo purus,
          rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec
          elit faucibus condimentum. Donec facilisis consectetur enim sit amet
          varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget
          mauris.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Empathetic</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu
          interdum diam. Donec interdum porttitor risus non bibendum. Maecenas
          sollicitudin eros in quam imperdiet placerat. Cras justo purus,
          rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec
          elit faucibus condimentum. Donec facilisis consectetur enim sit amet
          varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget
          mauris.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Reliable</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu
          interdum diam. Donec interdum porttitor risus non bibendum. Maecenas
          sollicitudin eros in quam imperdiet placerat. Cras justo purus,
          rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec
          elit faucibus condimentum. Donec facilisis consectetur enim sit amet
          varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget
          mauris.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Accredited</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu
          interdum diam. Donec interdum porttitor risus non bibendum. Maecenas
          sollicitudin eros in quam imperdiet placerat. Cras justo purus,
          rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec
          elit faucibus condimentum. Donec facilisis consectetur enim sit amet
          varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget
          mauris.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Affordable</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu
          interdum diam. Donec interdum porttitor risus non bibendum. Maecenas
          sollicitudin eros in quam imperdiet placerat. Cras justo purus,
          rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec
          elit faucibus condimentum. Donec facilisis consectetur enim sit amet
          varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget
          mauris.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Strategic</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu
          interdum diam. Donec interdum porttitor risus non bibendum. Maecenas
          sollicitudin eros in quam imperdiet placerat. Cras justo purus,
          rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec
          elit faucibus condimentum. Donec facilisis consectetur enim sit amet
          varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget
          mauris.
        </p>
      </dd>
    </dl>
  </div>
</div>
