<div class="a-container">
  <div class="accordion">
    <dl>
      <dt>
        <a class="accordionTitle" href="#">Capable</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          We are passionate, qualified, skilled, and experienced in what we do.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Young at heart</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          We have the energy and enthusiasm to repeatedly deliver great value to
          those we serve.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Beneficial</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          It gives us immense satisfaction to create positive business outcomes
          for our clients.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Empathetic</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          We understand client concerns and help to overcome obstacles in
          getting things done.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Reliable</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          You can count on us to provide what we promise, on time and on budget.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Accredited</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          Our team is certified to global standards on the services we provide.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Affordable</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          We put quality compliance, cyber and IT services within reach of SMEs.
        </p>
      </dd>
      <dt>
        <a href="#" class="accordionTitle">Strategic</a>
      </dt>
      <dd class="accordionItem accordionItemCollapsed">
        <p>
          We help SMEs achieve their compliance and performance goals in smart
          ways.
        </p>
      </dd>
    </dl>
  </div>
</div>
