<section class="accreds">
    <section class="accreditations">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="section-title">
                <h2>
                  Our Accreditations
                </h2>
              </div>
            </div>
           </div>
        </div>
    </section>
</section>
<section class="certifications">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-10 col-sm-2 accred">
                <img src="images/accreditations/ccsp.png">

                <img src="images/accreditations/ccna.png">

                <img src="images/accreditations/iso.png">

                <img src="images/accreditations/cisa.png">

                <img src="images/accreditations/crisc.png">

                <img src="images/accreditations/gcih.png">
            </div>
        </div>
    </div>
</section>
