<section class="banner" id="banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-1 order-lg-1 h-content">
        <div class="hero-content">
          <span class="banner-content-subtitle">{{ .Params.Categories }}</span>
          <h1>{{ .Title }}</h1>
          <p>{{ .Summary }}</p>
          
        </div>
      </div>
      <div class="col-lg-4 order-2 order-lg-2 h-form">
        <div class="hero-form">
          <form
            id="chat_form_services"
            action="#"
            class="hero-form-action row"
            method="POST"
          >
            <div class="col-lg-12">
              <h2>Chat with us</h2>
            </div>
           
            <div class="col-lg-12">
              <input
                type="text"
                class="form-control"
                placeholder="Full Name"
                name="cname"
                id="cname"
                required
              />
            </div>
            <div class="col-lg-12">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                name="cemail"
                id="cemail"
                required
              />
            </div>
            <div class="col-lg-12">
              <input
                type="tel"
                class="form-control"
                placeholder="Phone Number"
                name="ctelephone"
                id="ctelephone"
                required
              />
            </div>
            <div class="col-12">
              <textarea
                class="form-control"
                placeholder="Message"
                required
                cols="30"
                rows="7"
                name="cmessage"
                id="cmessage"
              ></textarea>
            </div>

            <div class="col-12 text-right">
              <button
                id="contact-form-button"
                class="btn btn-primary-filled"
                type="submit"
              >
                Submit
              </button>
            </div>
            <div class="col-12">
              <div id="thank-you-2" style="display:none;padding:3% 0;color:green;font-size:18px;padding-top:20px;">
                Thank you for contacting us, we will be in touch shortly. <br>
              </div>
              <p id="contact-form-status" class="mt-3"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
