{{ with .Site.Data.call_to_action }}
  {{ if .enable }}
    <section class="call-to-action" id="hero">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8 order-1 order-lg-1">
            <div class="whyCyber-content">
              <h3> {{ .caption }} </h3>
              <h1> {{ .description }} </h1>
            </div>
          </div>
          <div class="col-lg-4 order-2 order-lg-2">
            <div class="hero-image">
                <button class="btn btn-call" type="submit">
                    <span class="btn-area">
                      Learn More
                    </span>
                  </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}