{{ with .Site.Data.call_to_action }} {{ if .enable }}
<section class="call-to-action" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 order-1 order-lg-1">
        <div class="whyCyber-content">
          <h3>We help protect your business</h3>
          <h1>
            Discover an affordable way to reduce business risks, increase IT security, and lower IT operational costs.
          </h1>
        </div>
      </div>
      <div class="col-lg-3 order-2 order-lg-2">
        <div class="hero-image">
          <a href="/services">
          <button class="btn btn-call">
            <span class="btn-area">
              Learn More
            </span>
          </button>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
