<section class="contact-info" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 contact-img">
        <img
          class="logo-main"
          src="{{ .Site.Params.logo | absURL }}"
          alt="logo-white"
        />
      </div>
    </div>
    <div class="row info-box">
      <div class="col-lg-8 details">
        <div class="row">
          <div class="col-lg-6 contact-b">
            <div class="contact-icon">
              <img src="../images/icons/phone.png" />
            </div>
            <div class="contact-c">
              <h4>Our Number:</h4>
              <p>0400 000 000</p>
            </div>
          </div>
          <div class="col-lg-6 contact-b">
            <div class="contact-icon">
              <img src="../images/icons/letter.png" />
            </div>
            <div class="contact-c">
              <h4>Email Address:</h4>
              <p>info@cyberaas.com</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 contact-b">
            <div class="contact-icon">
              <img src="../images/icons/whatsapp.png" />
            </div>
            <div class="contact-c">
              <h4>Our whatsappr:</h4>
              <p>0400 000 000</p>
            </div>
          </div>
          <div class="col-lg-6 contact-b">
            <div class="contact-icon">
              <img src="../images/icons/house.png" />
            </div>
            <div class="contact-c">
              <h4>Address:</h4>
              <p>Address</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 hours">
        <h2>Feel Free to Get in Touch</h2>
        <h4>Opening hours</h4>
        <p>Mon-Fri : 9am-5pm</p>
        <h4>More Info</h4>
        <p>More info will go here</p>
      </div>
    </div>
  </div>
</section>
