<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="footer-description">
          <img src="{{ .Site.Params.logo | absURL }}" alt="logo" />
          <div class="footer-widget-list">
            <p>
              Let Cyberaas help you achieve a business edge above your competitors.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="footer-widget">
          <h4>Contact</h4>
          {{ $address := .Site.Params.address }}
          <div class="footer-widget-list">
            <ul>
              <li>
                <a href="mailto:{{ $address.email }}"
                  ><i class="ti-email"></i>{{ $address.email }}</a
                >
              </li>
              <li>
                <p>
                  <i class="ti-pin"></i>{{ $address.address1 }}<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                  $address.address2 }}<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ $address.address3 }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="footer-widget">
          <h4>Links</h4>
          <div class="footer-widget-list">
            <ul>
              {{ $sitemap := .Site.Menus.sitemap }} {{ range $sitemap }}
              <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="footer-widget">
          <h4>Subscribe</h4>
          <div class="footer-widget-list">
            <p>
              To get useful tips and insights into all things cyber, subscribe
              today.
            </p>
            <div>
              <form action="#" class="footer-subscribe-form">
                <div class="from-group">
                  <div class="input-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Your E-mail"
                    />
                    <div class="subscribe">
                      <button class="btn btn-subscribe" type="submit">
                        <span class="btn-area"> Subscribe </span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ $style := resources.Get "scss/non-critical.scss" | resources.ToCSS | minify
}}
<script src="https://smtpjs.com/v3/smtp.js"></script>
<link href="{{ $style.Permalink }}" rel="stylesheet" />
{{ $vendor := resources.Get "js/vendor.js" | minify }} {{ $script :=
resources.Get "js/accordion.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
<script src="{{ $vendor.Permalink }}"></script>
{{ $formhandler := resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOZnqr3U1VoQcWN6rcpa_Vv88PpD17qS8&callback=initMap"
></script>
<script>
  function initMap() {
    var macc = { lat: 1.296406200435002, lng: 103.85595652360226 };
    var map = new google.maps.Map(document.getElementById("googlemap"), {
      zoom: 18,
      center: macc,
    });
    var marker = new google.maps.Marker({ position: macc, map: map });
  }
</script>
