{{ if and (or .PrevInSection .NextInSection) (not .Params.noprevnext) }}
<nav id="article-nav">
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}" id="article-nav-older" class="article-nav-link-wrap">
      <strong class="article-nav-caption">
          < Previous Post
      </strong>
      <div class="article-nav-title">{{ .PrevInSection.Title }}</div>
    </a>
    {{ end }}

    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}" id="article-nav-newer" class="article-nav-link-wrap">
      <strong class="article-nav-caption">
          Next Post >
      </strong>
      <div class="article-nav-title">{{ .NextInSection.Title }}</div>
    </a>
    {{ end }}
</nav>
<section style="padding-top:100px;">
    <div class="container">
        <div class="row justify-content-center">
            {{ partial "blogPost.html" . }}
        </div>
    </div>
</section>
{{ end }}
