<section class="professionals">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10" style="padding: 50px 0">
        <h2>Meet our Professionals</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="box-3a">
          <div class="info-card">
            <div>
              <div class="about-container">
                <div class="about-item">
                  <div class="service-image">
                    <img src="../images/about/person1.png" alt="blog-thumb" />
                  </div>
                  <div class="about-content">
                    <h4>Full name</h4>
                    <p>Job Role</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-card">
            <div>
              <div class="about-container">
                <div class="about-item">
                  <div class="service-image">
                    <img src="../images/about/person2.png" alt="blog-thumb" />
                  </div>
                  <div class="about-content">
                    <h4>Full name</h4>
                    <p>Job Role</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-card">
            <div>
              <div class="about-container">
                <div class="about-item">
                  <div class="service-image">
                    <img src="../images/about/person3.png" alt="blog-thumb" />
                  </div>
                  <div class="about-content">
                    <h4>Full name</h4>
                    <p>Job Role</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-card">
            <div>
              <div class="about-container">
                <div class="about-item">
                  <div class="service-image">
                    <img src="../images/about/person4.png" alt="blog-thumb" />
                  </div>
                  <div class="about-content">
                    <h4>Full name</h4>
                    <p>Job Role</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-card">
            <div>
              <div class="about-container">
                <div class="about-item">
                  <div class="service-image">
                    <img src="../images/about/person5.png" alt="blog-thumb" />
                  </div>
                  <div class="about-content">
                    <h4>Full name</h4>
                    <p>Job Role</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-card">
            <div>
              <div class="about-container">
                <div class="about-item">
                  <div class="service-image">
                    <img src="../images/about/person6.png" alt="blog-thumb" />
                  </div>
                  <div class="about-content">
                    <h4>Full name</h4>
                    <p>Job Role</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="vision">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <h2>Vision</h2>
            <p>To help organisations of all sizes achieve superb cyber security compliance and business resilience, and free our clients to focus on their core business and work roles.</p>
      </div>
      <div class="col-lg-6 text-center">
        <h2>Mission</h2>
        <p>
            To empower SMEs and start-ups with affordable essential and strategic digital transformation, cyber security compliance, and technology support services.
        </p>
    </div>
    </div>
    <div class="row justify-content-center values">
      <div class="col-lg-12 text-center">
        <h2>Values</h2>
        <p>
          We derive a lot of satisfaction from helping our clients achieve their compliance and business performance goals with as little pain as possible. We had a bit of fun creating an acrostic of our values to spell out what we stand for:
        </p>
      </div>
    </div>
</section>
