<section class="service">
  <div class="container">
    <div class="row justify-content-center services">
      <div class="col-lg-12">
        <button class="btn-sm btn-service" type="submit">
          <span class="btn-area"> Our Services </span>
        </button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>We’re your one-stop cyber shop</h2>
        </div>
        <div class="service-description">
          Cyberaas is a compliance, standards and managed services provider
          (MSP) based in Singapore with clients in multiple countries. Our kind
          and understanding experts help organisations of all sizes (especially
          SMEs and startups) achieve these important business outcomes at
          affordable rates
        </div>
      </div>
    </div>
    <div class="row justify-content-center services">
      <div class="col-lg-12">
        <div class="box">
          <div class="card purple">
            <a href="/services#compliance">
              <div>
                <div class="service-container">
                  <div class="service-item">
                    <div class="service-icon">
                      <img src="images/compliance.png" />
                    </div>
                    <div class="service-content">
                      <h4>Compliance</h4>
                      <p><b>Achieve Compliance</b></p>
                      <p>PDPA Act</p>
                      <p>MAS Cyber Hygiene</p>
                      <p>MAS TRM</p>
                      <p>PCI-DSS</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="card pink">
            <a href="/services#accreditation">
              <div>
                <div class="service-container">
                  <div class="service-item">
                    <div class="service-icon">
                      <img src="images/standards.png" />
                    </div>
                    <div class="service-content">
                      <h4>Accreditations</h4>
                      <p><b>Get Accredited</b></p>
                      <p>Data Protection Trustmark</p>
                      <p>ISO 27001 ISMS</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="card blue">
            <a href="/services#services">
              <div>
                <div class="service-container">
                  <div class="service-item">
                    <div class="service-icon">
                      <img src="images/services.png" />
                    </div>
                    <div class="service-content">
                      <h4>Managed Services</h4>
                      <p><b>Improve Business Resilience</b></p>
                      <p>CISO Service</p>
                      <p>DPO Service</p>
                      <p>IT Helpdesk Support</p>
                      <p>Managed Network Service</p>
                      <p>Managed Software Patching</p>
                      <p>Email Phishing & Cyber Awareness</p>
                      <p>Training</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- <div class="card green">
            <a href="/services#transformation">
              <div>
                <div class="service-container">
                  <div class="service-item">
                    <div class="service-icon">
                      <img src="images/transformation.png" />
                    </div>
                    <div class="service-content">
                      <h4>Transformation</h4>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
