{{ with .Site.Data.why_cyberaas }} {{ if .enable }}
<section class="why-cyberaas" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 order-1 order-lg-1">
        <div class="whyCyber-content">
          <span class="cyber-content-subtitle"> {{ .caption }} </span>
          <h1>We help you achieve a business edge. Here’s all the good stuff!
          </h1>
          <dl>
            <dd>- Clear explanations in layman terms.</dd>
            <dd>- Proactive service and cost-effective solutions.</dd>
            <dd>- Better knowledge, insights, and tools.</dd>
            <dd>
              - Executive-level leadership that understands both business and
              technology.
            </dd>
            <dd>
              - Frameworks for protection against mission-critical cyber
              threats.
            </dd>
            <dd>
              - The right policies, procedures and programs to support your
              business.
            </dd>
            <dd>
              - Most of all, you free yourself to focus on your core business
              and job role.
            </dd>
          </dl>
        </div>
      </div>
      <div class="col-lg-3 order-2 order-lg-2 h-form">
        <div class="hero-image">
          <form
          id="chat_form"
          action="#"
          class="hero-form-action row"
          method="POST"
        >
          <div class="col-lg-12">
            <h2>Chat with us</h2>
          </div>

          <div class="col-lg-12">
            <input
              type="text"
              class="form-control"
              placeholder="Full Name"
              name="cname"
              id="c2name"
              required
            />
          </div>
          <div class="col-lg-12">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              name="cemail"
              id="c2email"
              required
            />
          </div>
          <div class="col-lg-12">
            <input
              type="tel"
              class="form-control"
              placeholder="Phone Number"
              name="ctelephone"
              id="c2telephone"
              required
            />
          </div>
          <div class="col-12">
            <textarea
              class="form-control"
              placeholder="Message"
              required
              cols="30"
              rows="7"
              name="cmessage"
              id="c2message"
            ></textarea>
          </div>

          <div class="col-12 text-right">
            <button
              id="contact-form-button"
              class="btn btn-primary-filled"
              type="submit"
            >
              Submit
            </button>
          </div>
          <div class="col-12">
            <div id="thank-you-3" style="display:none;padding:3% 0;color:green;font-size:18px;">
              Thank you for contacting us, we will be in touch shortly. <br>
            </div>
            <p id="contact-form-status" class="mt-3"></p>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
