{{ define "main" }} {{ partial "single_banner.html" . }}

<section class="blog-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <article class="blog-single-post">{{ .Content }}</article>
      </div>
    </div>
  </div>
</section>
<section class="bog_next">
  <div class="container">
    <div class="row" style="padding: 50px 0;">
      <div class="col-lg-10 mx-auto">
        {{ partial "prev_next_post" . }}
      </div>
    </div>
  </div>
</section>


{{ end }}
